<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mern Gen</title>
  </head>
  <body>
<main id='root'>
  App has crashed!
</main>
<script src="/bundle.js" charset="utf-8"></script>
</body>
</html>
